img {
  max-width: 40%;
}

.logo_wrapper, .login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 20%;
  margin-bottom: 8%;
}

.avatar {
  max-width: 15%;
  position: absolute;
  right: 26px;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 55%;
  justify-content: space-around ;
}

.revolut-chart {
  width: 55%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.green .circle {
  stroke: #98C3FF;
}

.circular-chart.purple .circle {
  stroke: #8281FF;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.rounded {
  border-radius: 27px;
  border: 1px solid #707070;
  height: 56px;
  width: 266px;
  outline: none;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

.btn {
  color: white;
  font-size: 18px;
  background-color: #98C3FF;
}

.add_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  overflow:auto;
}

.check_btn {
  border-radius: 27px;
  border: 1px solid #707070;
  height: 30px;
  width: 65px;
  outline: none;
  text-align: center;
}

.btn {
  color: white;
  font-size: 18px;
  background-color: #98C3FF;
}